<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link href="/stylishportfolio/css/stylish-portfolio.css" rel="stylesheet"> </link>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet" />
</head>
<body>
    <script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="stylishportfolio/js/stylish-portfolio.js"></script>
    
    <h1 class='heading'>Admin page</h1>
    
   	  <p>Name: </p><p th:text="${accounts.getName()}"></p>
   	  <p>Balance: </p><p th:text="${accounts.getBalance()}"></p>
   	  
      <p>Name: </p><p th:text="${accounts1.getName()}"></p>
      <p>Balance: </p><p th:text="${accounts1.getBalance()}"></p>
      
      <p>Name: </p><p th:text="${accounts2.getName()}"></p>
      <p>Balance: </p><p th:text="${accounts2.getBalance()}"></p>
      
      <p>Name: </p><p th:text="${accounts3.getName()}"></p>
      <p>Balance: </p><p th:text="${accounts3.getBalance()}"></p>
      
      <p>Name: </p><p th:text="${accounts4.getName()}"></p>
      <p>Balance: </p><p th:text="${accounts4.getBalance()}"></p>
      
      <p>Name: </p><p th:text="${accounts5.getName()}"></p>
   	  <p>Balance: </p><p th:text="${accounts5.getBalance()}"></p>

</body>
</html>
