<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 class='heading'>Admin page</h1>
    
   	  <p>Name: </p><p th:text="${accounts.getName()}"></p>
   	  <p>Balance: </p><p th:text="${accounts.getBalance()}"></p>
   	  
      <p>Name: </p><p th:text="${accounts1.getName()}"></p>
      <p>Balance: </p><p th:text="${accounts1.getBalance()}"></p>
      
      <p>Name: </p><p th:text="${accounts2.getName()}"></p>
      <p>Balance: </p><p th:text="${accounts2.getBalance()}"></p>
      
      <p>Name: </p><p th:text="${accounts3.getName()}"></p>
      <p>Balance: </p><p th:text="${accounts3.getBalance()}"></p>
      
      <p>Name: </p><p th:text="${accounts4.getName()}"></p>
      <p>Balance: </p><p th:text="${accounts4.getBalance()}"></p>
      
      <p>Name: </p><p th:text="${accounts5.getName()}"></p>
   	  <p>Balance: </p><p th:text="${accounts5.getBalance()}"></p>

</body>
</html>
