<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Balance page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 class='heading'>Welcome to Laymans Brothers</h1>
    
    <p>Welcome</p><p th:text="${accounts.getName()}"></p>
    <h4 class='statement'>Your balance is</h4>
    
     <p th:text="${accounts.getBalance()}">

    </p>
    
    <a th:href="@{/withdraw}">Withdraw</a>
    <a th:href="@{/deposit}">Deposit</a>
    
</body>
</html>
