<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Balance page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link href="/stylishportfolio/css/stylish-portfolio.css" rel="stylesheet"> </link>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/balance.css" th:href="@{/css/balance.css}" rel="stylesheet" />
</head>
<body>
   <script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="stylishportfolio/js/stylish-portfolio.js"></script>
    
    <h1 class='heading'>Welcome to Layman Brothers</h1>
    
     <p>Welcome</p><p th:text="${user.getFirstName()}"></p>
    <h4 class='statement'>Your Current Account balance is</h4>
    
     <p id="currentbalance" th:text="${currentAccount.getBalance()}"></p>
       <a class="greystyle" th:href="@{/currentAccount}">View Current Account</a>
    
    
      <h4 class='statement'>Your Savings Account balance is</h4>
    
     <p id="savingsbalance" th:text="${savingsAccount.getBalance()}"></p>
       <a class="greystyle">View Savings Account</a>
     
    <a class="greystyle" th:href="@{/withdraw}">Withdraw</a> <a class="greystyle" th:href="@{/deposit}">Deposit</a>
    
    <br></br>
    <br></br>
    
    
    
</body>
</html>
