<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Balance page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link href="/stylishportfolio/css/stylish-portfolio.css" rel="stylesheet"> </link>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/deposit.css" th:href="@{/css/deposit.css}" rel="stylesheet" />
</head>
<body>
<script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="stylishportfolio/js/stylish-portfolio.js"></script>
    
   <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LAYMAN BROTHERS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Premier</a></li>
      <li><a href="#">Wealth Management</a></li>
      <li><a href="#">Invest</a></li>
      <li><a href="#">Fraud</a></li>
      <li><a href="#">Mortgage</a></li>
      <li><a href="#">Insure</a></li>
      <li><a href="#">Credit card</a></li>
      <li><a href="#">Loans</a></li>
      <li><a href="#">Banking with us</a></li>
      <li><a href="#">Branch finder</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
</nav>
   
 <p style="padding-top: 80px;">Welcome</p><p th:text="${user.getFirstName()}"></p>
  <p>Amount to deposit:</p>
  <form th:action="@{/deposit}" method="post">
    <input th:value="${amount}" name="amount" id="amount" type="number" />
    <button type="submit">Deposit</button>
    </form>
    
    <a th:href="@{/balance}">Go Back to Account</a>
</body>
</html>