<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Layman Brothers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link href="/stylishportfolio/css/stylish-portfolio.css" rel="stylesheet"> </link>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="stylishportfolio/js/stylish-portfolio.js"></script>

  <!-- New Nav -->
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LAYMAN BROTHERS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Premier</a></li>
      <li><a href="#">Wealth Management</a></li>
      <li><a href="#">Invest</a></li>
      <li><a href="#">Fraud</a></li>
      <li><a href="#">Mortgage</a></li>
      <li><a href="#">Insure</a></li>
      <li><a href="#">Credit card</a></li>
      <li><a href="#">Loans</a></li>
      <li><a href="#">Banking with us</a></li>
      <li><a href="#">Branch finder</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
</nav>

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1 id="homepageheader">LAYMAN BROTHERS</h1>
        <h4 class="whitestyle">"Too Big to Fail"</h4>
        <br></br>
        <left>
        <table>
        <tr>
        <th><form method="get" action="/newUser">
          <button type="submit" value="Sign Up" id="signup" href="#services" class="btn btn-dark btn-lg js-scroll-trigger">Sign up</button>
          	</form></th>
          </tr>
              <tr>
          	<td>
          <button type="submit" id="login" href="#services" class="btn btn-dark btn-lg js-scroll-trigger">Login</button>
     		</td>
     		 </tr>
     	  <tr>
     	   <td>
        	  <a href="#services" class="btn btn-dark btn-lg js-scroll-trigger">Meet The Founders</a>
    		    </td>
    		    </tr>
    			
         	</table>
         </left>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
      <div class="container text-center">
        <h2 class="blackstyle">Let our patented Java Online Banking System (JOBS) allow you to rest easy knowing your assets are secure!</h2>
        <p class="lead">(Disclaimer: Please don't send sensitive information with this application, we will take all of your money)</p>
      </div>
      <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12 mx-auto">
            <h2 class="whitestyle">Meet The Founders</h2>
            <hr class="medium">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <img src="images/LogoBlue.png" alt="logo" height="50" width="50"></img>
                    <br></br>
                    <strong>Etienne</strong>
                  </h4>
                  <p>The Frontman</p>
                  <a href="#" class="btn btn-light">View</a>
                </div>
              </div>
                <div class="col-md-2 col-sm-2">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-compass fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <img src="images/LogoBlue.png" alt="logo" height="50" width="50"></img>
                    <br></br>
                    <strong>Will</strong>
                  </h4>
                  <p>Mr. Persistence</p>
                  <a href="#" class="btn btn-light">View</a>
                </div>
              </div>
                <div class="col-md-2 col-sm-2">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-flask fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <img src="images/LogoBlue.png" alt="logo" height="50" width="50"></img>
                    <br></br>
                    <strong>Nero</strong>
                  </h4>
                  <p>The Sri-Lankan Stallion</p>
                  <a href="#" class="btn btn-light">View</a>
                </div>
              </div>
                <div class="col-md-2 col-sm-2">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <img src="images/LogoBlue.png" alt="logo" height="50" width="50"></img>
                    <br></br>
                    <strong>Joe</strong>
                  </h4>
                  <p>Mr. Java</p>
                  <a href="#" class="btn btn-light">View</a>
                </div>
              </div>
                <div class="col-md-2 col-sm-2">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <img src="images/LogoBlue.png" alt="logo" height="50" width="50"></img>
                    <br></br>
                    <strong>Marcus</strong>
                  </h4>
                  <p>The Secret Weapon</p>
                  <a href="#" class="btn btn-light">View</a>
                </div>
              </div>
                <div class="col-md-2 col-sm-2">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <img src="images/LogoBlue.png" alt="logo" height="50" width="50"></img>
                    <br></br>
                    <strong>Keith</strong>
                  </h4>
                  <p>The Human Encyclopedia</p>
                  <a href="#" class="btn btn-light">View</a>
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
            </hr>
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
      <div class="text-vertical-center">
		<h1 class="bluestyle">£1500 welcome bonus if you sign up today</h1>      </div>
    </aside>

    <section class="about">
      <div class="container text-center">
        <h2 class="blackstyle">Find us below!</h2>
        <p class="lead"></p>
      </div>
      <!-- /.container -->
    </section>

    <!-- Map -->
    <section id="contact" class="map">
       <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
      <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
      </small>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h4>
              <strong>Layman Brothers</strong>
            </h4>
            <p size="+2" >Makers Academy
              <br></br>50 Commercial St,
              <br></br>London<br></br>E1 6LT</p>
            <ul class="list-unstyled">

              <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="mailto:laymanbrothersbank@gmail.com">laymanbrothersbank@gmail.com</a>
              </li>
            </ul>
            <br></br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Layman Brothers 2017</p>
            </hr>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>




</body>
</html>
