<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Balance page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 class='heading'>Welcome to Laymans Brothers</h1>
      <p>Do you want to open a new account? </p>
      <form method="get" action="/newUser">
      <input type="submit" value="Sign Up"/>
      </form>
      <p>Already an account holder?</p>
      <button id="login">Login</button>
</body>
</html>
