<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Transactions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link href="/stylishportfolio/css/stylish-portfolio.css" rel="stylesheet"> </link>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/transactions.css" th:href="@{/css/transactions.css}" rel="stylesheet" />
</head>
<body>

<script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="stylishportfolio/js/stylish-portfolio.js"></script>
    
    <h1 class='heading'>Your Transactions</h1>
    
    <ul data-th-each="transaction : ${user.currentAccount.transactions}">
    		<li data-th-text="${transaction.amount}">...</li>
    		<li style="list-style:none" data-th-text="${transaction.description}">...</li>
    		<li	style="list-style:none" data-th-text="${transaction.transactionDate}">...</li>
    </ul>
    
    
</body>
</html>
