<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link href="/stylishportfolio/css/stylish-portfolio.css" rel="stylesheet"> </link>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/user.css" th:href="@{/css/user.css}" rel="stylesheet" />
</head>

<body>
  <script src="jquery/jquery-3.2.1.min.js"></script>
  <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <script src="stylishportfolio/js/stylish-portfolio.js"></script>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LAYMAN BROTHERS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Premier</a></li>
      <li><a href="#">Wealth Management</a></li>
      <li><a href="#">Invest</a></li>
      <li><a href="#">Fraud</a></li>
      <li><a href="#">Mortgage</a></li>
      <li><a href="#">Insure</a></li>
      <li><a href="#">Credit card</a></li>
      <li><a href="#">Loans</a></li>
      <li><a href="#">Banking with us</a></li>
      <li><a href="#">Branch finder</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
</nav>

 <br></br>

   <header class="header2" id="userheader">
     <div class="text-vertical-center">
       <br></br>
	   <h1 class="header2" id="userheader">Welcome to Layman Brothers, <span th:text="${user.getFirstName()}"></span>&nbsp;<span th:text="${user.getLastName()}"></span></h1>
     </div>
   </header>

<div class="col-lg-12 mx-auto">
    <div class="col-md-6 col-sm-6">
      <div class="container text-left">
      <h2>Here are your details:</h2>
      <h4 class="blackstyle"> Your e-mail: </h4><h5 class="whitestyle" th:text="${user.getEmail()}"> </h5>
      <h4 class="blackstyle"> Your username: </h4><h5 class="whitestyle" th:text="${user.getUsername()}">  </h5>
      <h4 class="blackstyle"> Your address: </h4><h5 class="whitestyle" th:text="${user.getAddress()}">  </h5>
    </div>
  </div>
     <div class="col-md-6 col-sm-6">
       <br></br>
       <br></br>
      <h3>Would you like to check your accounts?</h3>
       <br></br>
    <a class="greystyle" href="/balance">View my accounts</a>
  </div>
</div>
</body>
</html>
