<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Balance page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 class='heading'>Welcome to Laymans Brothers</h1>
    
    <p>Welcome</p><p th:text="${user.getFirstName()}"></p>
 	<p>Amount to withdraw:</p>
	<form th:action="@{/withdraw}" method="post">
    <input th:value="${amount}" name="withdraw" id="withdraw" type="number" />
    <button type="submit">Withdraw</button>
    </form>
    
    <a th:href="@{/balance}">Go Back to Account</a>
</body>
</html>